{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    {{ghost_head}}

</head>
<body>
      {{!-- Top Navigation Bar --}}
      <div class="site-wrapper">
          <ul class="nav-bar">
            <div class="nav-section">
                {{navigation}}
            </div>
            <div class="nav-section center">
              <li class="logo"><a href="{{@site.url}}">Fred Zaw</a></li>
            </div>
            <div class="nav-section right">
              <li class="phone">For more info: text 510-345-0751</li>
            </div>
          </ul>


        <main id="site-main" class="site-main outer">
            <div class="post-content">

                <section class="error-message">
                    <h1 class="error-code">{{code}}</h1>
                    <h3 class="error-description">{{message}}</h3>
                    <a href="{{@site.url}}" class="big-link">Take me home</a>
                </section>
            </div>
        </main>

    </div>
</body>
</html>
