{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<!-- Necessary for warping effect -->
<div class="square"></div>
<div class="cursor"></div>

<div class="hero-text">
  <h2>Freelance product designer and creative technologist residing in Oakland,
    CA. If you want to make something impactful, cool, or weird, he might be your guy.</h2>
</div>

<div class="content">
  <svg class="distort" width="800" height="600" viewBox="0 0 1000 800">
    <filter id="distortionFilter">
      <feTurbulence type="turbulence" baseFrequency="0.02 0.01" numOctaves="5" seed="2" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="noise"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="0" xChannelSelector="R" yChannelSelector="B" x="0%" y="0%" width="100%" height="100%" filterUnits="userSpaceOnUse"/>
    </filter>

    <!-- This only works when all images are the same file format -->
    <g filter="url(#distortionFilter)">
      {{#foreach posts}}
        <image class="distort__img" x="50" y="50" xlink:href="{{img_url feature_image size="m" }}" width="800" height="600"/>
      {{/foreach}}
    </g>
  </svg>
  <nav class="menu">
    <span class="menu-header">Here's some work</span>
    <div class="menu-items">
      {{#foreach posts}}
        <a href="{{url}}" class="menu__link">{{title}}</a>
      {{/foreach}}
    </div>
    {{> "footer"}}

  </nav>
</div>
</div>

<script src="{{asset "built/hero.js"}}"></script>
<script src="{{asset "built/project-menu.js"}}"></script>
<script src="{{asset "js/TweenMax.min.js"}}"></script>
<script src="{{asset "built/pixi.min.js"}}"></script>
